@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
html, body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background-image: url(Imagens/background.png);
}
footer{
    color: white;
    margin: 20px;
    text-align: end;
}
header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 150px;
}
body a{
   color: white;
    text-decoration: none;
    margin-bottom: 80px;
    font-size: 20px;
}
body a:hover{
    color: blueviolet;
    text-transform: uppercase;
    font-weight: bold;
}
body h1{
    color: white;
    text-align: center;
    font-size: 40px;
}



